---
import { home } from "../lib/urls";
---
<header class="site-header">
  <div class="site-shell">
    <a href={home()} class="site-header__title">Vojta Maur</a>
    <div class="site-header__motto">Tvořit je můj základní instinkt</div>
  </div>
</header>